/* Cart */
.background {
    width: 100%;
    height: 100%;
    background-color: var(--colour-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black; 
    justify-content: space-between;
}

/* Keep every thing in the center */
.align-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Push info up from bottom */
.background .align-cart:last-child {
    margin-bottom: 5em;
}

/* Heading */
.cart-heading {
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom: 1px;
    width: 80%;
}

.cart-heading > h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}

/* Style close button and place next to header */
.close {
    display: flex;
    margin-left: auto;
    height: 2em;
    margin-top: 0.5em;
}

/* Order Summary */
.cart-summary {
    width: 80%;
    border-bottom: 1px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: -1em;
}

/* Display all cart elements next to eachother */
.cart-product {
    display: flex;
}

.cart-product-info {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-title {
    font-size: var(--font-size-text);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    padding-bottom: 5%;
}

.cart-product-price {
    font-size: var(--font-size-title-small);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
}

.cart-image {
    width: 40%;
    height: 8em;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}


/* Discount Code */
.discount {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.discount > .btn {
    width: 25%;
    height: 2.4em;
    margin-left: 1em;
}

/* Discount input only takes 75% of the page */
.discount > .float-input {
    width: 75%;
}

/* Small button but larger text */
.discount > .btn--xsmall {
    font-size: var(--font-size-text);
}

/* Order Information */
.other-information {
    font-family: var(--font-secondary);
    color: var(--colour-text);
    opacity: 80%;
    font-size: 20px;
    width: 80%;
    margin-top: 20%;
}

/* Align heading to left and price on the right */
.sub-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.sub-info p:last-child {
    width: 60%;
    margin-left: auto;
    text-align: right;
}

/* Total Price styled differently to sub costs */
.order-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    border-bottom: 1px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0.75em;
}

.order-total {
    font-size: var(--font-size-title-small);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    
}

.order-total-price {
    font-size: var(--font-size-price-small);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
}

/* Checkout buttons */
.checkout-btns {
    width: 100%;
}

.background > .align-cart > .checkout-btns > .button {
    margin-top: 0em;
}

.background > .align-cart > .checkout-btns > .button >.btn {
    font-size: var(--font-size-title-small);
    margin-top: 1em;
    width: 85%;
    height: 2em;
}

/* Media Queries */

@media screen and (min-width: 1800px) {
    .cart-image {
        width: 32.5%;
        height: 10em;
    }
    .cart-summary .input-quantity {
        height: 1.5em;
    }
    .cart-summary .input-quantity {
        font-size: 24px;
    }
    .discount > .btn {
        height: 2.1em;
    }
} 

@media screen and (min-width: 2400px) {
    .cart-image {
        width: 30%;
        height: 12.5em;
    }
    .cart-summary .input-quantity {
        height: 2em;
    }
    .discount > .btn {
        height: 2.275em;
    }
    
} 

@media screen and (max-width: 1200px) {
    .discount > .btn {
        height: 3em;
    }
    .background > .align-cart > .checkout-btns > .button >.btn {
        height: 2.5em;
        text-align: center;
        padding-top: 0.75em;
    }
    .close {
        height: 1.5em;
        margin-bottom: 0.2em;
    }
}

@media screen and (max-width: 700px) {
    .discount > .btn {
        height: 3.5em;
    }
    .cart-image {
        width: 25%;
        height: 6.5em;
    }
    .cart-summary .input-quantity {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 550px) {
    .cart-image {
        width: 30%;
    }
    .close {
        height: 1.5em;
        margin-bottom: 0.3em;
    }
} 

@media screen and (max-width: 400px) {
    .cart-image {
        width: 35%;
        height: 5em;
    }
    .discount > .btn {
        height: 4em;
        font-size: 0.75em;
    }
}