
/* Order Summary */
.order-summary {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--colour-tertiary);
    margin: var(--indent);
    height: 35em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order-summary > .cart-product {
    display: flex;
    width: 80%;
}

.order-summary > .cart-product > .cart-image {
    display: flex;
    width: 30%;
    height: 6em;
}

.order-summary > .cart-product > .cart-product-info > .cart-product-title {
    font-size: 20px;
    padding-right: 4em;
}

.quantity-value {
    border: 1px solid black;
    text-align: center;
    width:25%;
    height: 1em;
    background-color: white;
    font-family: var(--font-secondary);
}

.order-summary > .cart-product > .cart-product-price {
    font-size: 20px;
}

.summary-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.order-summary > .other-information {
    margin-top: 20%;
}

.order-summary > .discount > .float-input > input{
    width: 14em;
    height: 2.75em;
}

.order-summary > .discount > .btn{
    margin-left: 0.5em;
    height: 3em;
    font-size: 15px;
}

.discount {
    margin-top: 2em;
}

/* Checkout */
.checkout {
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--colour-tertiary);
    margin: var(--indent);
    height: 35em;
    /* display: flex;
    align-items: center; */
}

