@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Questrial&display=swap');

:root {
    /* Fonts and Sizing */
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Questrial', sans-serif;  
    --font-size-h1: 64px;
    --font-size-h2: 56px;
    --font-size-h3: 40px; 
    --font-size-text: 20px;

    --font-size-price-big: 32.5px;
    --font-size-title-big: 27.5px;
    --font-size-price-small: 30px;
    --font-size-title-small: 25px;

    --font-size-btn: 1.5em;
    --font-size-label: 14px;
}

/* @media screen and (min-width: 2400px) {
    :root {
        --font-size-h1: 80px;
        --font-size-h2: 72px;
        --font-size-h3: 56px; 
        --font-size-text: 36px;
    
        --font-size-price-big: 48.5px;
        --font-size-title-big: 43.5px;
        --font-size-price-small: 46px;
        --font-size-title-small: 41px;
    
        --font-size-btn: 2em;
    }  
}

@media screen and (min-width: 1800px) {
    :root {
    --font-size-h1: 72px;
    --font-size-h2: 64px;
    --font-size-h3: 48px; 
    --font-size-text: 28px;

    --font-size-price-big: 40.5px;
    --font-size-title-big: 35.5px;
    --font-size-price-small: 38px;
    --font-size-title-small: 33px;

    --font-size-btn: 1.75em;
    }  
} */

@media screen and (max-width: 1200px) {
    :root {
    --font-size-h1: 56px;
    --font-size-h2: 40px;
    --font-size-h3: 30px; 
    --font-size-text: 16px;

    --font-size-price-big: 27.5px;
    --font-size-title-big: 22.5px;
    --font-size-price-small: 25px;
    --font-size-title-small: 20px;

    --font-size-btn: 1.25em;
    }  
}

@media screen and (max-width: 700px) {
    :root {
    --font-size-h1: 40px;
    --font-size-h2: 34px;
    --font-size-h3: 24px; 
    --font-size-text: 14px;

    --font-size-price-big: 22px;
    --font-size-title-big: 18px;
    --font-size-price-small: 20px;
    --font-size-title-small: 16px;

    --font-size-btn: 1.125em;
    --font-size-label: 12.5px;
    } 
}


@media screen and (max-width: 500px) {
    :root {
        --font-size-btn: 1em;
        --font-size-label: 11px;
    } 
}



