
/* Home page Image + Text */
.home-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2.5%;
    width: 45%;
    margin-bottom: 3em;
}

/* Sofa */
.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 70%;
}

/* OZ Logo behind main image */
#tranparent-back {
    width: 90%;
    margin-left: 3em;
    opacity: 10%;
}

.home-text {
    text-align: center;
    color: var(--colour-text);
    font-family: var(--font-primary);
    padding-top: 0.1em;
    margin: auto;
    width: 80%;
}

.slogan {
    font-size: var(--font-size-h3);
    padding-top: 0.5em;
    padding-bottom: 15%;
}

/* Categories */
.category-card {
    padding-bottom: 2.5em;
}

.category-card__name {
    font-size: var(--font-size-title-big);
    font-family: var(--font-primary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
}

.category-card__img {
    height: 10em;
    width: 12.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

/* About Us Section */

.about {
    font-size: var(--font-size-text);
    font-family: var(--font-secondary);
    text-align: center;
    width: 70%;
    margin: auto;
}

.about > p {
    padding-bottom: 33px;
}

@media screen and (min-width: 2000px) {
    .category-card__img {
        height: 12.5em;
        width: 17.5em;
        margin-left: 3em;
        margin-right: 3em;
    }
}

/* Media Queries */
@media screen and (max-width: 950px) {
    .home-image-back {
        width: 60%;
    }
    .home-image {
        width: 80%;
    }
    #tranparent-back {
        width: 100%;
        margin-left: 2em;
    }
    .category-card__img {
        height: 8em;
        width: 10em;
    }
}

@media screen and (max-width: 750px) {
    .home-image-back {
        width: 70%;
    }
    .home-image {
        width: 85%;
    }
    #tranparent-back {
        width: 120%;
    }
}

@media screen and (max-width: 550px) {
    .home-image-back {
        width: 75%;
    }
    .home-image {
        width: 90%;
    }
    #tranparent-back {
        width: 140%;
        margin-left: 1em;
    }
    .category-card__img {
        height: 6em;
        width: 8em;
    }

}

@media screen and (max-width: 455px) {

    .category-card__img {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }
    
    .category-card {
        margin-bottom: -1em;
    }

}