
/* Home page Image + Text */

.home-image-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2.5%;
    width: 45%;
    height: 45%;
    margin-bottom: 3em;
}

.home-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    height: 70%;
    width: 70%;
}

#tranparent-back {
    height: 90%;
    width: 90%;
    margin-left: 40px;
    opacity: 10%;
}

.home-text {
    text-align: center;
    color: var(--colour-text);
    font-family: var(--font-primary);
}

#line-through{
    position: relative;
}

#line-through > span {
    position: absolute;
    width: 40%;
    border-top: 2px solid var(--colour-text-other);
    left: 30%;
    top: 70%;
    opacity: 10%;
}

.slogan {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 15%;
}

/* Category Options */
.category-card {
    padding-bottom: 2.5em;
}

.category-card__name {
    font-size: var(--font-size-title-big);
    font-family: var(--font-primary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
}

.category-card__img {
    height: 10em;
    width: 12.5em;
    margin-left: 2em;
    margin-right: 2em;
}

/* About Us Section */

.about {
    font-size: 25px;
    font-family: var(--font-secondary);
    text-align: center;
    /* padding-left: 20rem;
    padding-right: 20rem; */
}

.about > p {
    padding-bottom: 33px;
}