/* Navigation Bar */
.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 0.5em 1em 0.5em 1em;
}

.menu-icon{
    height: 2.5em;
    width: 2.5em;
    filter: var(--colour-icons);
    position: relative;
    top: 0.25em;
}

#logo {
    height: 6.5em;
    width: 18em;
}

.search {
    position: relative;
}

.search-icon {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0.5em;
    right: 0em;
    filter: var(--colour-icons)
}

.nav-bar {
    background-color: var(--colour-primary);
    z-index: 1;
    position: fixed;
    width: 100%;
}

.spacer {
    width: 100%;
    height: 10em;
}

.menu {
    color: var(--colour-text);
    font-family: var(--font-primary);
    font-size: 2em;
}

/* Hamburger Menu */
.hamburger {
    display: none;
}

.hamburger-line {
    width: 2em;
    height: 0.2em;
    background-color: var(--colour-text);
    margin: 6px 0;
}

.hamburger-menu {
    background-color: var(--colour-primary);
    width: 100%;
    height: 100%;
    border: 1px solid black; 
}

.menu-heading {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 85%;
    margin: auto;
    height: 20%;
    text-align: center;
}

.menu-heading > a h2 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.category-list {
    font-family: var(--font-primary);
    font-size: var(--font-size-h2);
    color: var(--colour-text);
    width: 85%;
    margin: auto;
    margin-bottom: 1em;
}

.category-list > li {
    margin-bottom: 0.5em;
}

.category-list > li > h3 {
    padding: 0em;
}

.hamburger-menu > .footer-icons {
    justify-content: flex-start;
    width: 85%;
    margin: auto;
    border: 1px solid black; 
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 1em;

}

.hamburger-menu > .footer-icons > img {
   margin-top: 0em;
   width: 2em;
}


@media screen and (max-width: 1550px) {
    .menu {
        font-size: 1.625em;
    }
    .menu-icon{
        height: 2em;
        width: 2em;
    }
    #logo {
        height: 5em;
        width: 15em;
    }
    .search {
        position: relative;
        font-size: 15px;
    }
    
    .search-icon {
        height: 1.75em;
        width: 1.75em;
        top: 0.7em;
        right: 0em;
    }
}

@media screen and (max-width: 1350px) {
    .hide-menu {
        display: none;
    }
    .cluster {
        justify-content: space-around;
        margin: 0em;
    }
    .hamburger {
        display: block;
    }
    .menu-icon{
        height: 2.5em;
        width: 2.5em;
    }
    .spacer {
        height: 8em;
    }
}

@media screen and (max-width: 550px) {
    .menu-icon{
        height: 2em;
        width: 2em;
    }
    .hamburger-line {
        width: 1.5em;
        height: 0.1em;
    }
    #logo {
        height: 3em;
        width: 10em;
    }
    .spacer {
        height: 6em;
    }
}

@media screen and (max-width: 320px) {
    .menu-icon{
        height: 1.5em;
        width: 1.5em;
    }
    .hamburger-line {
        width: 1.25em;
        height: 0.05em;
    }
    #logo {
        height: 2.5em;
        width: 7.5em;
    }
    .spacer {
        height: 5em;
    }
   
}

@media screen and (max-width: 260px) {
    .menu-icon{
        height: 1em;
        width: 1em;
    }
    .hamburger-line {
        width: 1.125em;
        height: 0.05em;
    }
    #logo {
        height: 2em;
        width: 5em;
    }
   
}
