.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Product Info + Actions */
.product-actions {
    margin-left: 2em;
}

.product-actions > * {
    margin-bottom: 0.5em;
}

.product-title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h3);
}

.product-price {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h3);
    text-decoration: underline;
}

.sub-txt {
    font-size: 20px;
    font-family: var(--font-secondary);
}

.in-stock {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.in-stock-icon {
    height: 1.5em;
    filter: var(--colour-valid);
    margin-left: 0.5em;
}

/* Product Images */
.product-image-gallery {
    display: flex;
}

.other-images {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.product-image {
    height: 26em;
    width: 35em;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1em;
}

.product-sub-image {
    /* height: 13em;
    width: 15em; */
    height: 100%;
    width: 100%;
    
}

.description-txt {
    font-family: var(--font-secondary);
    font-size: var(--font-size-text);
    color: var(--colour-btn-more);
    padding-left: var(--indent);
    padding-right: var(--indent);
}

.purchase-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* Temporary fix */
    margin-top: 1em;
    margin-bottom: -0.5em;
    width: 100%;
}

.divider {
    background-color: black;
    height: 1px;
    width: 90%;
    margin-left: var(--indent);
    margin-top: 2rem;
}
.other-info > .divider {
    margin-top: 0rem;
}

.other-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.open-and-close {
    padding-right: 7rem;
    display: inline-block;
}
