main {
    display: flex;
    width: 80%;
    margin: auto;
}

/* Product Images */
.product-image-gallery {
    display: flex;
    width: 70%;
}

.other-images {
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1em;
}

.product-sub-image {
    height: 13em;
    width: 15em;
    /* height: 50%; */
    width: 100%; 
    
}

/* Product Info + Actions */
.product-actions {
    margin-left: 2em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.product-title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h3);
}

.product-price {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h3);
    text-decoration: underline;
}

.sub-txt {
    font-size: 20px;
    font-family: var(--font-secondary);
}

.in-stock {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.in-stock-icon {
    height: 1.5em;
    filter: var(--colour-valid);
    margin-left: 0.5em;
}

.purchase-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* Temporary fix */
    margin-top: 1em;
    margin-bottom: -0.5em;
    width: 100%;
}

.product-info {
    margin-left: var(--indent);
    margin-right: var(--indent);
    margin-top: var(--indent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-info > .filter-option {
    padding-bottom: 2em;
    width: 85%;
}

.product-info > .filter-option:first-child  {
    display: inline;
}

.product-info > .filter-option:first-child > .filter-name  {
    font-size: 30px;
}

.filter-option > .description-txt {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--colour-btn-more);
    padding-top: 0.75em;
    line-height: 1.25em;
}