/* Product Cards */

.product-card__title {
    font-size: var(--font-size-title-big);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-align: center;
}

.product-card__price {
    font-size: var(--font-size-price-big);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 0.5em;
}

.product-card__image {
    height: 20em;
    width: 25em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: -1.5em;
    margin-top: -1.5em;
}

.product-card__image--small {
    height: 15em;
    width: 20em;
}

.product-card__price--small {
    font-size: var(--font-size-price-small);
}

.product-card__title--small {
    font-size: var(--font-size-title-small);
}

/* Image of Danish sofa doesn't resize the same as the other */
#danish {
    height: 200px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Product Filter */
.filter {
    padding: 0.5rem 0rem 0.5rem var(--indent);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.filter > .btn-more {
    margin-right: 4rem;
    margin-bottom: 2rem;
}
