/* Product Cards */

.product-card__title {
    font-size: var(--font-size-title-big);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-align: center;
}

.product-card__price {
    font-size: var(--font-size-price-big);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 0.5em;
}

.product-card__image {
    height: 20em;
    width: 25em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: -1.5em;
    margin-top: -1.5em;
}

.product-card__image--small {
    height: 12em;
    width: 17em;
}

.not-sidebar > .subsection > .product-card {
    margin-right: 5em;
}

.not-sidebar > .subsection {
    justify-content: flex-start;
    margin-left: 7em;
}

.product-card__price--small {
    font-size: var(--font-size-price-small);
}

.product-card__title--small {
    font-size: var(--font-size-title-small);
}

/* Image of Danish sofa doesn't resize the same as the other */
#danish {
    height: 200px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Product Filter */
.sort {
    padding: 0.5rem 0rem 0.5rem var(--indent);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sort > .btn ~ .btn {
    margin-left: 1.5em;
}


.filter {
    background-color: var(--colour-tertiary);
    border: 1px solid black;
    border-radius: 5px;
    margin-left: var(--indent);
    margin-top: var(--indent);
}

.filter > h3 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    color: var(--colour-text);
}

.filter-name {
    font-family: var(--font-secondary);
    font-size: 28px;
    color: var(--colour-text);
}

.filter-option {
    border-bottom: 1px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: var(--indent);
    margin-right: var(--indent);
    display: flex;
    align-items: center;
    padding-bottom: 0.75em;
}

.filter-option ~ .filter-option {
    margin-top: 2em;
}

.open {
    margin-left: auto;
    height: 1em;
}

