/* Product Cards */
.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.product-card__title {
    font-size: var(--font-size-title-big);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0.125em;
}

.product-card__price {
    font-size: var(--font-size-price-big);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-align: center;
    padding-top: 0.5rem;
}

.product-card__image {
    height: 12.5em;
    width: 17.5em;
    margin-bottom: -1.5em;
    margin-top: -1.5em;
}

.product-card__image--small {
    height: 10em;
    width: 15em;
    margin-bottom: -0.5em;
}

/* Resize image for different type of product */
.other-product-image {
    height: 8em;
    width: 17.5em;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
}

/* Only add in search results */
.not-sidebar > .subsection > .product-card {
     margin-left: 3em;
     margin-right: 3em;  
}

.product-card__price--small {
    font-size: var(--font-size-price-small);
}

.product-card__title--small {
    font-size: var(--font-size-title-small);
}

/* Product Filter */
.sort {
    padding: 0.5rem 0rem 0.5rem var(--indent);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sort > .btn ~ .btn {
    margin-left: 1.5em;
}

.filter {
    background-color: var(--colour-tertiary);
    border: 1px solid black;
    border-radius: 5px;
    margin-left: var(--indent);
    margin-top: var(--indent);
}

.filter > h3 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    color: var(--colour-text);
}

.filter-name {
    font-family: var(--font-secondary);
    font-size: var(--font-size-text);
    color: var(--colour-text);
}

.filter-option {
    border-bottom: 1px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: var(--indent);
    margin-right: var(--indent);
    display: flex;
    align-items: center;
    padding-bottom: 0.75em;
}

.filter-option ~ .filter-option {
    margin-top: 2em;
}

/* Plus icon to open extra content */
.open {
    margin-left: auto;
    height: 1em;
}

/* Indicate button can be clicked */
.open:hover {
    transform: scale(1.2);
}

.open-close:hover {
    transform: scale(1.2) rotate(45deg);
}

/* Resize search bar in filter */
.filter > .search {
    width: 65%;
    margin: auto;
    margin-bottom: 3em;
}

/* Mobile Changes */
.phone-search {
  display: none;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.phone-search > .search {
    width: 40%;
}

.filter-icon {
    width:2em;
    position: relative;
    top: 0.25em;
    margin-left: 2em;
    filter: var(--colour-icons);
}

@media screen and (min-width: 1925px) {
    .other-product-image {
        height: 12em;
        width: 22.5em;
        margin-top: 2.5em;
        margin-bottom: 0em;
    }
    
    .product-card__image--small {
        height: 15em;
        width: 20em;
    }
    .product-card__image {
        height: 17.5em;
        width: 22.5em;
    }
   .filter > .search {
       font-size: var(--font-size-input);
       width: 75%;
   }
   
}

@media screen and (min-width: 2200px) {
    .other-product-image {
        height: 15em;
        width: 25em;
        margin-top: 2.5em;
        margin-bottom: 0em;
    }
    .product-card__image--small {
        height: 17.5em;
        width: 22.5em;
    }
    .product-card__image {
        height: 20em;
        width: 25em;
    }
    .product-card {
        margin-bottom: 3em;
   }
}


/* Place filter options into an expandable menu */
@media screen and (max-width: 1200px) {
    .other-product-image {
        height: 7em;
        width: 15em;
        margin-top: 0.7em;
        margin-bottom: -0.4em;
    }
    .phone-search {
        display: flex;
    }
    .sort-by, .filter {
        display: none;
    }
    .not-sidebar > .subsection {
        margin-left: 0em;
        width: 85%;
        margin: auto;
    }
    .product-card__image {
        height: 10em;
        width: 15em;
    }
    .product-card__image--small {
        height: 8em;
        width: 12em;
    }
}

@media screen and (max-width: 700px) {
    .other-product-image {
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 450px) {
    .other-product-image {
        height: 6em;
        width: 12.5em;
        margin-top: 0em;
    }
    .product-card__image {
        height: 8em;
        width: 12.5em;
        margin-bottom: -0.625em;
    }
    .product-card__image--small {
        height: 7em;
        width: 10em;
    }
}