@import url("fonts.css");
@import url("colours.css");
@import url("variables.css");
@import url("nav.css");
@import url("search_results.css");
@import url("cart.css");
@import url("product_listing.css");
@import url("checkout.css");
@import url("home.css");

/* Box Model */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colour-primary);
}

a {
    color: var(--colour-text);
    text-decoration: none;
}

a:hover, a:visited {
    text-decoration: underline;
}

p {
    font-family: var(--font-secondary);
    color: var(--colour-text);
}

/* Headings */

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-primary);
    color: var(--colour-text);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1em;
}

/* Move heading to the left of the page instead of the center */
.h2-left {
    display: inline-block;
    margin: 2rem 0rem 0rem var(--indent);
}


h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-primary);
    padding: 0rem 0rem 1.5rem var(--indent);
}

.h3-other {
    text-align: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.sub-heading {
    padding-top: 2rem;
    font-family: var(--font-secondary);
}

/* Footer */
.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons > img {
    width: 3em;
    margin: -1em 1em 5em 1em;
    filter: var(--colour-icons)
}

.footer-title {
    font-size: var(--font-size-h3);
}

/* Chat Icon */
.chat {
    width: 3em;
    filter: var(--colour-icons);
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Page History */
.history {
    padding: 0rem 0rem 1.5rem var(--indent);
}

.history > *{
    font-size: var(--font-size-input);
    font-family: var(--font-primary);
    display: inline-block;
}


/* Layout */

/* Used to display multiple product cards  */
.subsection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: auto;
}

.sidebar{
    flex-basis: 25rem;
    flex-grow: 1;
}

/* Change size of sidebar when it is used as a filter */
.filter {
    flex-basis: 20rem;
}

.not-sidebar{
    flex-basis: 0rem;
    flex-grow: 999;
    min-width: 50%;
}

/* Open Cart and Hamburger Menu */

/* hide cart and menu until screen is small enough */
.hidden-cart {
   position: fixed;
   right: -100%;
}

.hidden-menu {
    position: fixed;
    left: -100%;
 }

 /* Display cart and menu */
.cart-shown {
    display: block;
    height: 100%;
    z-index: 100;
    top: 0em;
    right: 0em;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-shown {
    display: block;
    height: 100%;
    z-index: 100;
    top: 0em;
    left: 0em;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Decide how much of the screen the menus take up */
#cart{
    width: 30%;
    height: 100%;
}

#hamburger {
    width: 30%;
}

/* Buttons */
/* responsive resize needed */
.btn {
    font-family: var(--font-secondary);
    padding: 0.5em 0.75em;
    font-size: var(--font-size-btn);
    border: 1.5px solid black; 
    border-radius: 2px;
    text-align: center;
}

.btn-primary {
    color: white;
    border-color: var(--colour-btn-primary);
    background-color: var(--colour-btn-primary); 
    box-shadow: 0px 0px 5px var(--colour-btn-primary);
}

.btn-secondary {
    color: black;
    background-color: var(--colour-primary);
}

.btn-tertiary {
    background-color: var(--colour-btn-tertiary);
}

.btn:hover {
    box-shadow: 0px 0px 5px black;
    transform: scale(1.025);
}

.btn--medium {
    width: 50%;
}

.btn--small {
    width: 100%;
    margin-bottom: 0.5em;
}

.btn--xsmall {
    width: 10%;
    font-size: 1em;
}

/* Button container */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}

.btn-more {
    border: none;
}

.btn-more:hover {
    box-shadow: none;
    text-shadow:  0px 2px 40px var(--colour-btn-primary);;
}

/* Input Boxes */
.input-quantity {
    width: 35%;
    height: 1.5em;
    text-align: center;
    border-color: black;
    border-width: 0.5px;
    box-shadow: 0px 0px 1px black;
    font-family: var(--font-secondary);
    font-size: 20px;
    background-color: white;
}

/* Remove arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.float-input > input {
    font-size: var(--font-size-input);
    padding-top: 1em;
    padding-left: 0.6em;
    box-shadow: 1px 3px 6px lightgray;
}

.full-box {
    width: 100%;
}

/* Place label inside input, but so input doesn't cover it */
.float-input > label {
    font-size: var(--font-size-label);
    font-family: var(--font-secondary);
    padding-top: 0.55em;
    padding-left: 0.85em;
    position: absolute;   
    opacity: 50%; 
}

input {
    height: 3em;
    background-color: var(--colour-input);
    font-family: var(--font-secondary);
    border-radius: 4px;
    border: 2px solid black ;
}

.incorrect-input {
    border-color: red;
}

/* Error messages for inputs */
.error-msg {
    margin-top: 0.3em;
    font-size: var(--font-size-label);
    color: red;
    display: none;
}

.form-step .float-input .error-msg {
    margin-bottom: -1.25em;
}

/* Styling of search bar input */
.search > input, textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding-top: 1rem;
    padding-bottom: 0.76em;
    width: 100%;
    height: 2.5em;
    font-size: 1.25em;
    border-radius: 0px;
}


/* Media Queries */

@media screen and (min-width: 1800px) {
    .order-summary {
        flex-basis: 35rem;
        height: 50rem;
    }
    .filter {
        flex-basis: 25rem;
    }
    .checkout-process > .sidebar-container > .not-sidebar > .checkout {
        height: 50rem;
    }
}

@media screen and (min-width: 2400px) {
    .order-summary {
        flex-basis: 45rem;
        height: 55rem;
    }
    .filter {
        flex-basis: 30rem;
    }
    .checkout-process > .sidebar-container > .not-sidebar > .checkout {
        height: 55rem;
    }
    #cart {
        width: 40%;
    }

}

@media screen and (max-width: 3000px) {
    #cart {
        width: 35%;
    }
}

@media screen and (max-width: 1600px) {
    #cart {
        width: 40%;
    }
}

@media screen and (max-width: 1200px) {
    .chat {
        width: 2.5em;
    }
    .history {
        display: none;
    }
    .footer-icons > img {
        width: 2.5em;
        margin: -1em 0.75em 5em 0.5em;
    }
    #cart{
        width: 45%;
    }
    #hamburger {
        width: 35%;
    }
}

@media screen and (max-width: 1200px) {
    .h2-left {
        display: block;
        margin: 0em;
        text-align: center;
    }
}

@media screen and (max-width: 1050px) {
    .checkout-process > .sidebar-container{
        flex-direction: column-reverse;
    }
    
    .checkout-process > .sidebar-container > .sidebar{
        flex-basis: 0rem;
        flex-grow: 0;
        height: 25%;
    }
    
    .checkout-process > .sidebar-container > .not-sidebar{
        flex-basis: 0rem;
        flex-grow: 0;
        min-width: 0%;
    }
    #cart {
        width: 55%;
    }
    #hamburger {
        width: 40%;
    }

}

@media screen and (max-width: 950px) {
    .chat {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .chat {
        display: none;
    }
    .footer-icons > img {
        width: 2em;
        margin: -0.5em 0.75em 5em 0.5em;
    }
    #cart{
        width: 100%;
    }
    #hamburger {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #hamburger {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    #hamburger {
        width: 100%;
    }
}

@media  screen and (max-width: 400px) {
    .input-quantity {
        width: 50%;
    }
}


