@import url("fonts.css");

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colour-primary);
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

/* Headings */

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-primary);
    color: var(--colour-text);
    text-align: center;
    padding-top: 125px;
    padding-bottom: 5rem;
}

.h2-left {
    display: block;
    padding: 2rem 0rem 0rem var(--left-indent);
}


h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-primary);
    padding: 0rem 0rem 2rem var(--left-indent);

}

.sub-heading {
    padding-top: 2rem;
    font-family: var(--font-secondary);
}

/* Set font for headings */
.menu {
    font-family: var(--font-primary);
    font-size: 30px;
}

/* Navigation Bar */
.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 1rem 3rem 1rem 3rem;
}

.menu-icon{
    height: 42.5px;
    width: 42.5px;
    filter: var(--colour-icons);
}

#logo {
    height: 6.5em;
    width: 18em;
}

/* only works at one size - need to change */

.search-text {
    font-family: var(--font-secondary);
    font-size: 20px;
    position: absolute;
    right: 10.125em;
    top: 2.125em;
    opacity: 50%;
}

.search-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 4em;
    top: 2.125em;
}

.search-underline {
    position: absolute;
    right: 4em;
    top: 4.375em;
}

/* Home page Image + Text */
.home-image-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    position: relative;
}

.home-image {
    max-height: 501px;
    max-width: 920px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
}

#tranparent-back {
    height:450px;
    width: 700px;
    margin-left: 40px;
    opacity: 10%;
}

.home-text {
    text-align: center;
    color: var(--colour-text);
    font-family: var(--font-primary);
}

.slogan {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 150px;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Category Options */
.category-card__name {
    font-size: 40px;
    font-family: var(--font-primary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
}

.category-card__img {
    height: 200px;
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Product Cards */

.product-card__title {
    font-size: 36px;
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-align: center;
}

.product-card__price {
    font-size: var(--font-size-h3);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 40px;
}

.product-card__image {
    height: 350px;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

/* About Us Section */

.about {
    font-size: 32px;
    font-family: var(--font-secondary);
    text-align: center;
    /* padding-left: 20rem;
    padding-right: 20rem; */
}

.about > p {
    padding-bottom: 33px;
}

/* Footer */

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-icons > img {
    height: 75px;
    width: 90px;
    margin-bottom: 150px;
    margin-right: 20px; 
    filter: var(--colour-icons)
}

/* Chat Icon */

.chat {
    height: 60px;
    width: 60px;
    filter: var(--colour-icons);
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Page History */

.history {
    font-size: 20px;
    font-family: var(--font-primary);
    padding: 2rem 0rem 2rem var(--left-indent);
}

/* Product Filter */
.filter {
    padding: 0.5rem 0rem 0.5rem var(--left-indent);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.filter > .btn-more {
    margin-right: 4rem;
    margin-bottom: 2rem;
}

/* Image of Danish sofa doesn't resize the same as the other */
#danish {
    height: 200px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Product Listing */

.product-title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h1);
    padding: 0.5rem 1rem 0.5rem 3rem;
    display: inline-block;
}

.product-price {
    font-family: var(--font-secondary);
    font-size: 78px;
    padding-left: 42rem;
    display: inline-block;
}

.in-stock {
    filter: var(--colour-valid);
}

.product-image-gallery {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15rem auto;
    column-gap: 11rem;
    padding: 2rem 1rem 0.5rem 3rem;
}

.product-image {
    height: 500px;
    width: 900px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid black;
    border-radius: 5px;
}

.description-txt {
    font-family: var(--font-secondary);
    font-size: var(--font-size-text);
    color: var(--colour-btn-more);
    padding-left: var(--left-indent);
}

.product-info {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.purchase-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.divider {
    background-color: black;
    height: 1px;
    width: 90%;
    margin-left: var(--left-indent);
    margin-top: 2rem;
}
.other-info > .divider {
    margin-top: 0rem;
}

.other-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.open-and-close {
    padding-right: 7rem;
    display: inline-block;
}

/* Cart */

.cart-heading > h2 {
    display: block;
}


.cart-heading > .open-and-close {
    display: inline-block;
    top: 9.125em;
    padding-left: 2em;
}

.cart-image {
    width: 20%;
    height: 10%;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: var(--left-indent);
}

.order-total {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    opacity: 60%;
    text-align: center;
    padding-bottom: 1%;
}

.order-total-price {
    font-size: var(--font-size-h1);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
}

.cart-summary {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2%;
}

.cart-product {
    display: flex;
    align-items: flex-start;
}

.cart-product-info {
    padding-left: 2%;
}

.cart-product-title {
    font-size: var(--font-size-text);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    opacity: 90%;
    padding-bottom: 5%;
}

.cart-product-price {
    font-size: 38px;
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    padding-bottom: 27.5%;
}

.order-info {
    padding: 5%;
}

/* Checkout */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 40rem;
    flex-grow: 1;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}
     


/* Buttons */
/* responsive resize needed */
.btn-more-container {
    text-align: center;
    padding-top: 5em;
    margin-left: 10%;
    max-width: 80%;
}

.btn-cart-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 7.5rem;
}

.btn-buy-container {
    margin-left: 10%;
    max-width: 80%;
    padding-bottom: 5rem;
}

.btn-more {
    font-size: 50px;
    font-family: var(--font-secondary);
    color: var(--colour-btn-more);
    width: 100%;
    height: 1.5em;
    border-radius: 15px;
    background-color: var(--colour-primary);
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 0px 6px black;
    
}

.btn-more:hover, .btn-buy:hover {
    box-shadow: 0px 0px 12.5px black;
}

.btn-more--small {
    font-size: 25px;
    width: 10rem;
    height: 3rem;
}

.btn-cart {
    width: 550px;
    height: 75px;
    font-size: 35px;
    border-color: var(--colour-btn-more);
    color:  var(--colour-text);
}

.btn-buy {
    font-size: 35px;
    font-family: var(--font-secondary);
    color: white;
    width: 550px;
    height: 75px;
    border-radius: 15px;
    background-color: var(--colour-btn);
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 0px 6px black;
    text-shadow:  0px 0px 5px black;
}

.btn-buy--large {
    width: 100%;

}
/* Input Boxes */

.input-quantity {
    width: 40%;
    height: 2em;
    text-align: center;
    border-color: black;
    border-width: 0.5px;
    box-shadow: 0px 0px 3px black;
    font-family: var(--font-secondary);
    font-size: 20px;
    background-color: white;
}

.float-input {
    position: relative;
    left: 5%;
    padding-bottom: 2rem;
}

.float-input > input {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 10px;
}

.float-input > label {
    font-size: 14px;
    font-family: var(--font-secondary);
    padding-top: 7px;
    padding-left: 11px;
    position: absolute;    
}

input {
    width: 20em;
    height: 3em;
    background-color: var(--colour-input);
    font-family: var(--font-secondary);
}








/* .close::after {
    display: inline-block;
    content: "\00d7";
    font-size: 8em;
    padding-right: 7rem;
} */

/* \002b - plus symbol code */