@import url("fonts.css");

:root {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colour-primary);
}

a {
    display: inline-block;
}

a:visited {
    color: black;
}

/* Headings */

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-primary);
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-primary);
    color: var(--colour-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
    padding-bottom: 5rem;
}

.h2-left {
    display: block;
    padding: 2rem 0rem 0rem var(--left-indent);
}


h3 {
    font-size: var(--font-size-h3);
    font-family: var(--font-primary);
    padding: 0rem 0rem 2rem var(--left-indent);

}

.sub-heading {
    padding-top: 2rem;
    font-family: var(--font-secondary);
}

/* Set font for headings */
.menu {
    font-family: var(--font-primary);
    font-size: 30px;
}

/* Navigation Bar */
.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster > * {
    margin: 1rem 3rem 1rem 3rem;
}

.menu-icon{
    height: 42.5px;
    width: 42.5px;
    filter: var(--colour-icons);
}

#logo {
    height: 6.5em;
    width: 18em;
}

/* only works at one size - need to change */

.search-text {
    font-family: var(--font-secondary);
    font-size: 20px;
    position: absolute;
    right: 10.125em;
    top: 2.125em;
    opacity: 50%;
}

.search-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 4em;
    top: 2.125em;
}

.search-underline {
    position: absolute;
    right: 4em;
    top: 4.375em;
}

/* Home page Image + Text */
.home-image-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;

    position: relative;
}

.home-image {
    max-height: 501px;
    max-width: 920px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    position: absolute;
}

#tranparent-back {
    height:450px;
    width: 700px;
    margin-left: 40px;
    opacity: 10%;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colour-text);
    font-family: var(--font-primary);
}

.slogan {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 150px;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Category Options */
.category-card__name {
    font-size: 40px;
    font-family: var(--font-primary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
}

.category-card__img {
    height: 200px;
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Product Cards */

.product-card__title {
    font-size: 36px;
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-align: center;
}

.product-card__price {
    font-size: var(--font-size-h3);
    font-family: var(--font-secondary);
    color: var(--colour-text);
    text-decoration: underline;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 40px;
}

.product-card__image {
    height: 350px;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

/* About Us Section */

.about {
    font-size: 32px;
    font-family: var(--font-secondary);
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
}

.about > p {
    padding-bottom: 33px;
}

/* Footer */

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-icons > img {
    height: 75px;
    width: 90px;
    margin-bottom: 150px;
    margin-right: 20px; 
    filter: var(--colour-icons)
}

/* Chat Icon */

.chat {
    height: 60px;
    width: 60px;
    filter: var(--colour-icons);
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Page History */

.history {
    font-size: 20px;
    font-family: var(--font-primary);
    padding: 2rem 0rem 2rem var(--left-indent);
}

/* Product Filter */
.filter {
    padding: 0.5rem 0rem 0.5rem var(--left-indent);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.filter > .btn-more {
    margin-right: 4rem;
    margin-bottom: 2rem;
}

/* Image of Danish sofa doesn't resize the same as the other */
#danish {
    height: 200px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Product Listing */

.product-title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h1);
    padding: 0.5rem 1rem 0.5rem 3rem;
    display: inline-block;
}

.product-price {
    font-family: var(--font-secondary);
    font-size: 78px;
    padding-left: 42rem;
    display: inline-block;
}

.in-stock {
    filter: var(--colour-valid);
}

.product-image-gallery {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15rem auto;
    column-gap: 11rem;
    padding: 2rem 1rem 0.5rem 3rem;
}

.product-image {
    height: 500px;
    width: 900px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid black;
    border-radius: 5px;
}

.description {
    font-family: var(--font-secondary);
    font-size: var(--font-size-text);
    color: var(--colour-btn-more);
}

/* Buttons */
/* responsive resize needed */
.btn-more-container {
    text-align: center;
    padding-top: 5em;
}

.btn-more {
    font-size: 50px;
    font-family: var(--font-secondary);
    color: black;
    width: 1300px;
    height: 100px;
    border-radius: 15px;
    background-color: var(--colour-primary);
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 0px 6px black;
}

.btn-more:hover, .btn-buy:hover {
    box-shadow: 0px 0px 12.5px black;
}

.btn-more--small {
    font-size: 25px;
    width: 10rem;
    height: 3rem;
}

.btn-cart {
    width: 580px;
    height: 75px;
    font-size: 35px;
    border-color: var(--colour-btn-more);
    color:  var(--colour-text);
}

.btn-buy {
    font-size: 35px;
    font-family: var(--font-secondary);
    color: white;
    width: 580px;
    height: 75px;
    border-radius: 15px;
    background-color: var(--colour-btn);
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 0px 6px black;
    text-shadow:  0px 0px 5px black;
}


